@charset "UTF-8";

/*
em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode varios elementos)
*/

body {
    background-color:#a3eed8c2;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #064551;
}
h1#principal {
    text-align: center;
    background-color: #0B523D;
    color: white;
}
h2{
    color:#01716C;
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: rgb(124, 124, 18);
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgb(187, 218, 130);
}